.App {
  display: block;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main {
  top: 64px;
}

.avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: 10px;
}

.avatar-small {
    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.avatar-xsmall {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.host-name {
  font-size: 24px;
  text-align: center;
  margin: 0 10px 0 10px;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#space-card .card-image {
  /* max-height: 50%; */
  height: 300px;
  display: flex;
  justify-content: center;
}

#space-card .card-image img{
  position: 50% 50%;
  height: 100%;
  width: auto;
}

#space-card .card-title {
  padding: 12px;
}

#book-space-button-disabled{
  background-color: gray
}

/* ALERT */
/* The alert message box */
.alert {
    color: #f44336;
}

.book-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.date-selection {
  display: flex;
  justify-content: space-around;
}

.modal-instructions {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-size: 24px;
}

.modal .modal-content {
  padding-bottom: 0px;
}

.input-field {
  margin: 10px 15px 10px 15px;
}

div #book-results {
  font-size: 18px;
}


/* Login */
.login-form {
  margin-top: 25px;
}

.login-hide-auth-error {
  visibility: hidden;
}

.login-auth-error {
  /* margin-bottom: 5px; */
  text-align: center;
  color: red;
}

/* Signup */


.signup-hide-auth-error {
  visibility: hidden;
}

.signup-auth-error {
  /* margin-bottom: 5px; */
  text-align: center;
  color: red;
}
