.screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SEARCH */
.search-container {
  background-image: url('../assets/suitcases.jpeg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

/* ABOUT */
.about-container {
  background-color: lightblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}

.steps-col {
  margin-bottom: 30px;
}

.steps-col div {
  font-size: 40px;
}

/* SIGN UP */
.signup-container {
  background-image: url('../assets/neighborhood.jpeg');
  color: white;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.1);
}

.signup-container-filter {
  z-index: -1;
  background-color: white;
  opacity: 0.1;
  height: 100vh;
  width: 100vw;
}

.signup-subcontainer {
  z-index: 1;
  width: 80%;
}

.buttons-box button {
  margin: 10px;
}
