.screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SEARCH */

.white-title {
  color: white;
}

.search-container {
  background-image: url('../assets/suitcases.jpeg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.search-row {
  border: 1px solid #DBDBDB;
  background-color: white;
  padding: 10px;
  /* display: flex;
  justify-content: space-around; */
  align-items: center;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.search-row {
  width: 500px;
}

.home-search-bar-container {
  width: 90%
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 10;
  width: 100%;
}

/* ABOUT */

.about-container {
  background-color: lightblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}

.steps-col {
  margin-bottom: 30px;
}

.steps-col div {
  font-size: 40px;
}

/* SIGN UP */
.signup-container {
  /* background-image: url('../assets/sun_grass.jpeg'); */
  background-image: url('../assets/neighborhood.jpeg');
  color: white;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

.signup-container-filter {
  z-index: -1;
  background-color: white;
  opacity: 0.1;
  height: 100vh;
  width: 100vw;
}

.signup-subcontainer {
  z-index: 1;
  width: 80%;
}

.buttons-box button {
  margin: 10px;
}
